/AssetImportWorker0-prev.log
/AssetImportWorker0.log
/shadercompiler-AssetImportWorker0.log
/shadercompiler-UnityShaderCompiler.exe10.log
/shadercompiler-UnityShaderCompiler.exe11.log
/shadercompiler-UnityShaderCompiler.exe8.log
/shadercompiler-UnityShaderCompiler.exe9.log
*.log
